p.flashy{
  font-style: italic;
  color: red;
}

ul.flashy{
  font-style: italic;
  color: red;
}

h1.flashy{
  font-style: italic;
  color: red;
}

h3.best{
  font-style: bold;
  font-size: 50px;
  color: purple
}

ul.best{
  font-style: bold;font-style: bold;
  font-size: 50px;
  color: purple
  color: purple
}